<!DOCTYPE html>
<html>
<head>
    <title>V2Ray Manager</title>
</head>
<body>
    {% if running %}
        <h1 style="color: green;">V2Ray Running With PID {{ pid }}</h1>
        <form method="post" action="/action">
            <button type="submit" style="background-color: #ff4444; color: white;">Stop</button>
        </form>
    {% else %}
        <h1 style="color: red;">V2Ray Not Running</h1>
        <form method="post" action="/action">
            <button type="submit" style="background-color: #00C851; color: white;">Start</button>
        </form>
    {% endif %}
</body>
</html>